@model IEnumerable<Model.Staff>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">员工信息</h4>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-condensed">
            <thead style="background-color:lightblue"><tr><th>ID</th><th>员工姓名</th><th>联系电话</th><th>其他信息</th><th>操作</th></tr></thead>
            @if (Model != null)
            {
                int i = 0;
                foreach (var item in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.StaffName</td>
                        <td>@item.StaffPhone</td>
                        <td>@item.Describe</td>
                        <td>@Html.ActionLink("删除", "Delete", "Staff", new { id = item.Id }, new { @class = "btn btn-xs btn-danger", onclick = "return confirm('确认删除？')" })</td>
                    </tr>
                    i++;
                }
            }

        </table>
    </div>
</div>
<form class="form-horizontal" method="post" action="/Staff/Create">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">添加员工</h4>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-1 control-label" for="txtName">员工姓名</label><input type="text" required class="form-control col-sm-2" id="txtName" style="width: 200px" name="StaffName" />
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label" for="txtPhone">联系电话</label><input type="text" required class="form-control col-sm-2" id="txtPhone" style="width: 200px" name="StaffPhone" />
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label" for="txtDes">其他信息</label><input type="text" class="form-control col-sm-2" id="txtDes" style="width: 800px" name="Describe" />
            </div>
            <input type="submit" value="提交" class="btn btn-primary" />
        </div>
    </div>
</form>
