<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/scripts/Font-Awesome-3.2.1/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/scripts/pager/pageStyle.css" rel="stylesheet" />
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/layer/layer.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/pager/paging.js"></script>
    <script>
        $(function () {
            var flag = '@ViewBag.flag';
            if (flag != "") {
                $("#" + flag).addClass("active");
            } else {
                $("#customer").addClass("active");
                window.location.href = "Customer/Index";
            }
        });
    </script>
</head>
<body>
    <div class="navbar navbar-nav navbar-fixed-top" style="background-color: lightblue;">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLinkWithImage(Url.Content("~/Images/logo01.png"), "Index", "Home")
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        <div class="col-md-2" style="margin-top:80px">
            <div class="well" style="padding: 8px 0;">
                <ul class="nav nav-pills nav-stacked">
                    <li id="customer">@Html.ActionLink("客户管理", "Index", "Customer")</li>
                    <li id="product">@Html.ActionLink("产品管理", "Index", "Product")</li>
                    <li id="staff">@Html.ActionLink("员工管理", "Index", "Staff")</li>
                    @*<li id="stacus">@Html.ActionLink("员工_客户关系管理", "Index", "StaffCustomer")</li>*@
                    <li id="stockMaintain">@Html.ActionLink("库存管理", "StockMaintain", "Product")</li>
                    <li id="factory">@Html.ActionLink("供货商管理", "Index", "Factory")</li>
                    <li id="payTypes">@Html.ActionLink("公司消费类别管理", "Index", "CompanyPayType")</li>
                </ul>
            </div>
        </div>
        <div class="col-md-10" style="padding-top:30px;padding-bottom:35px">
            @RenderBody()
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-bottom" style="background-color:lightblue">
        <div class="container">
            <ul>
                <li>咨询热线：010-84505722</li>
                <li>地址：北京市朝阳区青年路西里2号院9号楼1层 </li>
                <li>Copyright &copy;@DateTime.Now.Year,All rights reserved版权所有 © 水递夫 技术支持北京网站建设公司企迪网 </li>
            </ul>
        </div>
    </div>

</body>
</html>
