@model Model.FactorySumaryViewModel

@{
    ViewBag.Title = "TransRecord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper ShowColorPrice(bool type, double price)
{
if (type)
{
        <td style="color:red;">-@price</td>
}
else
{
        <td style="color:green;">+@price</td>
}
}

@helper ShowColorPrice1(bool type, double price)
{
if (type)
{
        <td style="color:red;font-weight:bold">@price</td>
}
else
{
        <td style="color:green;font-weight:bold">@price</td>
}
}

<link href="~/scripts/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script>
    $(function () {
        $('#txtDateBegin').datetimepicker({
            language: 'zh',
            todayBtn: 0,
            autoclose: 1,
            todayHighlight: 1,
            format: "yyyy-mm",//日期格式
            startView: 3,
            minView: 3,
            clearBtn: true
        }).on('changeDate', function (ev) {
            $(this).datetimepicker('hide');
        });

        //刷新页面后，加载历史查询条件
        var queryJson = JSON.parse('@Html.Raw(ViewBag.queryPam)');
        if (queryJson.YearMonth != null && queryJson.YearMonth.indexOf("0001") < 0) {
            $("#txtDateBegin").val(queryJson.YearMonth);
        }
        if (queryJson.FactoryId != null) {
            $("#selFactory").val(queryJson.FactoryId);
        }
    });
</script>
<form class="form-inline" method="post" action="/Home_Factory/TransRecord">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">查询条件</h4>
        </div>
        <div class="panel-body">
            <div class="form-group col-sm-2">
                <label class="control-label" for="selFactory">水厂</label>
                <select name="FactoryId" id="selFactory" class="selectpicker show-tick form-control" style="width: 150px" data-live-search="true">
                    @if (ViewBag.factories != null)
                    {
                        foreach (var item in ViewBag.factories)
                        {
                            <option value="@item.Id">@item.FactoryName</option>
                        }
                    }
                </select>
            </div>

            <div class="form-group col-sm-2">
                <label class="control-label" for="txtDateBegin">选择时间</label>
                <input type="text" readonly class="form-control" style="width: 130px" name="yearMonth" id="txtDateBegin" />
            </div>
            <div class="form-group col-sm-3">
                <input type="submit" value="查询" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
<div class="panel panel-info">
    @*<div class="panel-heading">
            <h4 class="panel-title">查询结果</h4>
        </div>*@
    <div class="panel-body">
        <h5 style="color: red;font-weight:bold">@ViewBag.YearMonth 库存汇总</h5>
        <table class="table table-hover table-bordered table-condensed">
            <thead style="background-color: powderblue">
                <tr>
                    <th>水厂</th>
                    <th>产品</th>
                    <th>库存</th>
                    <th>空桶库存</th>
                </tr>
            </thead>
            @if (Model != null)
            {
                int sum1 = 0;
                int sum2 = 0;
                for (int i = 0; i < Model.FactoryStock.Count; i++)
                {
                    if (i != 0 && Model.FactoryStock[i].FactoryName != Model.FactoryStock[i - 1].FactoryName)
                    {
                        <tr class="warning" style="color: red;font-weight:bold">
                            <td colspan="2" style="color:royalblue">@Model.FactoryStock[i - 1].FactoryName<label>汇总：</label></td>
                            <td>@sum1</td>
                            <td>@sum2</td>
                        </tr>
                        sum1 = 0;
                        sum2 = 0;
                    }
                    <tr>
                        <td></td>
                        <td>@Model.FactoryStock[i].ProductName</td>
                        <td>@Model.FactoryStock[i].BucketStock</td>
                        <td>@Model.FactoryStock[i].EmptyBucketStock</td>
                    </tr>
                    sum1 += Model.FactoryStock[i].BucketStock;
                    sum2 += Model.FactoryStock[i].EmptyBucketStock;
                }
                if (Model.FactoryStock.Count > 0)
                {
                    <tr class="warning" style="color: red;font-weight:bold">
                        <td colspan="2" style="color:royalblue">@Model.FactoryStock[Model.FactoryStock.Count - 1].FactoryName<label>汇总：</label></td>
                        <td>@sum1</td>
                        <td>@sum2</td>
                    </tr>
                }
            }
        </table>

        <h5 style="color: red;font-weight:bold">@ViewBag.YearMonth 交易汇总</h5>
        <table class="table table-hover table-bordered table-condensed">
            <thead style="background-color: powderblue">
                <tr>
                    <th>水厂</th>
                    <th>交易类别</th>
                    <th>金额</th>
                </tr>
            </thead>
            @if (Model != null)
            {
                double sum = 0;
                for (int i = 0; i < Model.FactoryTrans.Count; i++)
                {
                    if (i != 0 && Model.FactoryTrans[i].FactoryName != Model.FactoryTrans[i - 1].FactoryName)
                    {
                        <tr class="warning" style="color:royalblue">
                            <td colspan="2" style="font-weight:bold">@Model.FactoryTrans[i - 1].FactoryName<label>汇总</label></td>
                            @ShowColorPrice1(sum < 0, sum)
                        </tr>
                        sum = 0;
                    }
                    <tr>
                        <td></td>
                        <td>@Model.FactoryTrans[i].TransType</td>
                        @ShowColorPrice(Model.FactoryTrans[i].IsPayType, Model.FactoryTrans[i].TransSum)
                    </tr>
                    if (Model.FactoryTrans[i].IsPayType)
                    {
                        sum -= Model.FactoryTrans[i].TransSum;
                    }
                    else
                    {
                        sum += Model.FactoryTrans[i].TransSum;
                    }
                }
                if (Model.FactoryTrans.Count > 0)
                {
                    <tr class="warning" style="color:royalblue">
                        <td colspan="2" style="font-weight:bold">@Model.FactoryTrans[Model.FactoryTrans.Count - 1].FactoryName<label>汇总</label></td>
                        @ShowColorPrice1(sum < 0, sum)
                    </tr>
                }
            }
        </table>
    </div>
</div>

<script src="~/scripts/datetimepicker/bootstrap-datetimepicker.js"></script>
<script src="~/scripts/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>

