@using Model
@model IEnumerable<Model.DailyRecord>

@{
    ViewBag.Title = "CompanyDailyRecordsDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title" style="color:red">@ViewBag.customerName 日常交易明细</h4>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-bordered table-condensed">
            <thead style="background-color:powderblue">
                <tr>
                    <th>交易日期</th>
                    <th>送水桶数</th>
                    <th>收回空桶数</th>
                    <th>饮水机</th>
                    <th>手压泵</th>
                    <th>水支架</th>
                </tr>
            </thead>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr style="font-weight:bold">
                        <td>@item.VisitDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td>@item.SendBucketAmount</td>
                        <td>@item.ReceiveEmptyBucketAmount</td>
                        <td>@item.WaterDispenser</td>
                        <td>@item.PushPump</td>
                        <td>@item.WaterHolder</td>
                    </tr>
                }
            }
            @{
                CustomerAccessory mod = (CustomerAccessory)ViewBag.sumaryInfo;
                <tr style="font-weight:bold;color:red"><td>汇总</td><td>@mod.SendBuckets</td><td>@mod.ReceiveEmptyBuckets</td><td>@mod.WaterDispenser</td><td>@mod.PushPump</td><td>@mod.WaterHolder</td></tr>

            }


        </table>
        <div>
            @Html.ActionLink("返回", "CompanyRecordsUptonow", null, new { @class = "btn btn-xs btn-danger" })
        </div>
    </div>
</div>

