@model IEnumerable<Model.DailyRecord>

@{
    ViewBag.Title = "CompanyDailyRecordsDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">@ViewBag.customerName 的日常交易汇总</h4>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-bordered table-condensed">
            <thead style="background-color:powderblue">
                <tr>
                    <th>交易日期</th>
                    <th>送水桶数</th>
                    <th>收回空桶数</th>
                    <th>饮水机</th>
                    <th>手压泵</th>
                    <th>水支架</th>
                </tr>
            </thead>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr style="font-weight:bold">
                        <td>@item.VisitDate</td>
                        <td>@item.SendBucketAmount</td>
                        <td>@item.ReceiveEmptyBucketAmount</td>
                        <td>@item.WaterDispenser</td>
                        <td>@item.PushPump</td>
                        <td>@item.WaterHolder</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>

