@model IEnumerable<Model.DailyRecordShow>

@{
    ViewBag.Title = "DailyRecord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/scripts/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="~/scripts/pager/pageStyle.css" rel="stylesheet" />
<script>
    $(function () {
        $('#txtDateBegin').datetimepicker({
            language: 'zh',
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            minView: "month",//设置只显示到月份
            format: "yyyy-mm-dd"//日期格式
        }).on('changeDate', function (ev) {
            $(this).datetimepicker('hide');
        });
        $('#txtDateEnd').datetimepicker({
            language: 'zh',
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            minView: "month",//设置只显示到月份
            format: "yyyy-mm-dd"//日期格式
        }).on('changeDate', function (ev) {
            $(this).datetimepicker('hide');
        });


        //获取分页数据
        function changePageSize(num) {
            window.location.href = "/Home/QueryDailyRecord?pageIndex=" +
                num +
                "&StaffId=" +
                $("#selStaffs").val() +
                "&CustomerId=" +
                $("#selCustomer").val() +
                "&DateBegin=" +
                $("#txtDateBegin").val() +
                "&DateEnd=" +
                $("#txtDateEnd").val();
        }

        //展示分页div
        $("#page").paging({
            pageNo: @ViewBag.currentPage,
            totalPage: @ViewBag.totalPage,
            totalSize: @ViewBag.totalSize,
            callback: function (num) {
                changePageSize(num);
            }
        });

        //刷新页面后，加载历史查询条件
        var queryJson = JSON.parse('@Html.Raw(ViewBag.queryPam)');
        if (queryJson.hasOwnProperty("CustomerId")) {
            if (queryJson.StaffId != null) {
                $("#selStaffs").val(queryJson.StaffId);
            }
            if (queryJson.CustomerId != null) {
                $("#selCustomer").val(queryJson.CustomerId);
            }
            if (queryJson.DateBegin.indexOf("0001") <0) {
                $("#txtDateBegin").val(queryJson.DateBegin.split('T')[0]);
            }
            if (queryJson.DateEnd.indexOf("0001") <0) {
                $("#txtDateEnd").val(queryJson.DateEnd.split('T')[0]);
            }
        }
    });
</script>
<form class="form-inline" method="post" action="/Home/QueryDailyRecord">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">查询条件</h4>
        </div>
        <div class="panel-body">
            <div class="form-group col-sm-3">
                <label class="control-label" for="selStaffs">选择员工</label>
                <select name="StaffId" id="selStaffs" class="selectpicker show-tick form-control" style="width: 100px" data-live-search="true">
                    @if (ViewBag.Staffs != null)
                    {
                        <option value=""></option>
                        foreach (var item in ViewBag.Staffs as List<Model.Staff>)
                        {
                            <option value="@item.Id">@item.StaffName</option>
                        }
                    }
                </select>
            </div>

            <div class="form-group col-sm-3">
                <label class="control-label" for="txtCustomerName">客户</label>
                <select name="CustomerId" id="selCustomer" class="selectpicker show-tick form-control" data-live-search="true">
                    @if (ViewBag.customers != null)
                    {
                        foreach (var item in ViewBag.customers as List<Model.Customer>)
                        {
                            <option value="@item.Id">@item.CustomerName</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group col-sm-3">
                <label class="control-label" for="txtDateBegin">开始时间</label>
                <input type="text" readonly class="form-control" style="width: 130px" name="DateBegin" id="txtDateBegin" />
            </div>
            <div class="form-group col-sm-3">
                <label class="control-label" for="txtDateEnd">结束时间</label>
                <input type="text" readonly class="form-control" style="width: 130px" name="DateEnd" id="txtDateEnd" />
            </div>
            <div class="form-group col-sm-3" style="margin-top: 15px">
                <input type="submit" value="查询" class="btn btn-primary" />
            </div>
        </div>
    </div>
    <input type="hidden" name="pageIndex" value="1" />
</form>
<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">查询结果</h4>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-bordered table-condensed">
            <thead style="background-color:powderblue"><tr><th>序号</th><th>员工</th><th>客户名称</th><th>产品名称</th><th>送水桶数</th><th>收回空桶</th><th>收取押金</th><th>退还押金</th><th>月底结算</th><th>预购水卡</th><th>交易日期</th></tr></thead>
            @if (Model != null)
            {
                int index = 0;
                foreach (var item in Model)
                {
                    <tr>
                        <td>@index</td>
                        <td>@item.StaffName</td>
                        <td>@item.CustomerName</td>
                        <td>@item.ProductName</td>
                        <td>@item.SendBucketAmount</td>
                        <td>@item.ReceiveEmptyBucketAmount</td>
                        <td>@item.EarnDeposit</td>
                        <td>@item.PayDeposit</td>
                        <td>@item.EarnMonthEndPrice</td>
                        <td>@item.EarnWaterCardPrice</td>
                        <td>@item.VisitDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    </tr>
                    index++;
                }
            }
        </table>
        <div class="page_div" id="page"></div>
    </div>
</div>

<script src="~/scripts/datetimepicker/bootstrap-datetimepicker.js"></script>
<script src="~/scripts/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="~/scripts/pager/paging.js"></script>


