@model IEnumerable<Model.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}

@helper checkDay(int day)
{
    if (day <= 5)
    {
        <label style="color:red;font-weight:bold;font-size:medium;">@day</label>
    }
    @*else if (day <= 6)
        {
            <label style="color:darkred;font-weight:bold;font-size:medium;">@day</label>
        }*@
    else
    {
        <label style="color:forestgreen">@day</label>
    }
}
<script src="~/scripts/jquery-3.1.1.min.js"></script>
<script src="~/scripts/layer/layer.js"></script>

<script type="text/javascript">
    var staffId = '';
    //$(function () {
    //    layer.open({
    //        title: "请选择登录用户",
    //        skin: 'layui-layer-molv',
    //        type: 1,
    //        closeBtn: 0,
    //        btn: ["确定"],
    //        content: $("#selStaff").html(),
    //        yes: function (index) {
    //            if (staffId == '') {
    //                staffId = $("#selectStaff").val();
    //            }
    //            $.post("/Controllers/Common/DataHandle.ashx",
    //                  {
    //                      op: "SetStaff",
    //                      staffId: staffId
    //                  });
    //            layer.close(index);
    //        }
    //    });
    //});

    function setStaff(pam) {
        staffId = pam.selectedOptions[0].value;
    }
</script>
@*<div id="selStaff" class="tab-content" style="display: none;">
        <select id="selectStaff" onchange="setStaff(this)" class="selectpicker show-tick form-control col-sm-2" style="width: 200px;margin:6px" required data-live-search="true">
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <option value="@item.Id">@item.StaffName</option>
                }
            }
        </select>
    </div>*@

<div class="panel panel-info col-lg-5">
    <div class="panel-heading">
        <h4 class="panel-title">查询结果</h4>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-bordered table-condensed">
            <thead style="background-color: powderblue"><tr><th>序号</th><th>客户名称</th><th>下次送水时间</th><th>倒计时(天)</th></tr></thead>
            @if (Model != null)
            {
                int index = 0;
                foreach (var item in Model)
                {
                    <tr>
                        <td>@index</td>
                        <td>@item.CustomerName</td>
                        <td>@item.NextDate.ToString("yyyy-MM-dd")</td>
                        <td style="text-align:center">@checkDay(Math.Abs(((TimeSpan)(item.NextDate - DateTime.Now)).Days + 1))</td>
                    </tr>
                    index++;
                }
            }
        </table>
        <div class="page_div" id="page"></div>

    </div>
</div>

