@model IEnumerable<Model.ProductFac>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">产品信息</h4>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-condensed">
            <thead style="background-color: lightblue">
            <tr><th>ID</th>
                <th>产品名称</th>
                @*<th>库存余量</th>*@
                <th>空桶库存</th>
                <th>成本价格</th>
                <th>空桶成本</th>
                <th>销售价格</th>
                <th>所属供货商</th>
                <th>库存更新时间</th>
                <th>操作</th></tr>
            </thead>
            @if (Model != null)
            {
                int i = 0;
                foreach (var item in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.ProductName</td>
                        @*<td>@item.StockRemain</td>*@
                        <td>@item.BucketStockRemain</td>
                        <td>@item.CostPrice</td>
                        <td>@item.BucketCostPrice</td>
                        <td>@item.SalePrice</td>
                        <td>@item.FactoryName</td>
                        <td>@item.UpdateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td>@Html.ActionLink("删除", "Delete", "Product", new { id = item.Id }, new { @class = "btn btn-xs btn-danger", onclick = "return confirm('确认删除？')" })</td>
                    </tr>
                    i++;
                }
            }

        </table>
    </div>
</div>
<form class="form-horizontal" method="post" action="/Product/Create">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">添加产品</h4>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-1 control-label" for="txtProductName">产品名称</label>
                <input type="text" required class="form-control" style="width: 200px" id="txtProductName" name="ProductName"/>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label" for="selFactory">供货商</label>
                <select name="FactoryId" id="selFactory" class="selectpicker show-tick form-control col-sm-2" style="width: 200px" required data-live-search="true">
                    @if (ViewBag.Factories != null)
                    {
                        foreach (var item in ViewBag.Factories)
                        {
                            <option value="@item.Id">@item.FactoryName</option>
                        }
                    }
                </select>
            </div>
            @*<div class="form-group">
                <label class="col-sm-1 control-label" for="txtStockRemain">库存余量</label>
                <input type="number" required class="form-control col-sm-2" style="width: 100px" id="txtStockRemain" name="StockRemain"/>&nbsp;桶
            </div>*@
            <div class="form-group">
                <label class="col-sm-1 control-label" for="txtBucketStockRemain">空桶库存</label>
                <input type="number" required class="form-control col-sm-2" style="width: 100px" id="txtBucketStockRemain" name="BucketStockRemain" value="0"/>&nbsp;桶
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label" for="txtCostPrice">桶装水成本</label>
                <input class="form-control col-sm-2" style="width: 100px" id="txtCostPrice" name="CostPrice"/>&nbsp;元
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label" for="txtBucketCostPrice">空桶成本</label>
                <input class="form-control col-sm-2" style="width: 100px" id="txtBucketCostPrice" name="BucketCostPrice" />&nbsp;元
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label" for="txtSalePrice">销售价格</label>
                <input required class="form-control col-sm-2" style="width: 100px" id="txtSalePrice" name="SalePrice"/>&nbsp;元
            </div>
            <input type="submit" value="提交" class="btn btn-primary"/>
        </div>
    </div>
</form>
