@model IEnumerable<Model.CompanyPayRecordDesc>
@{
    ViewBag.Title = "CompanyRecord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/scripts/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script>
    $(function () {
        $('#txtPayTimeBegin').datetimepicker({
            language: 'zh',
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            minView: "month",//设置只显示到月份
            format: "yyyy-mm-dd"//日期格式
        }).on('changeDate', function (ev) {
            $(this).datetimepicker('hide');
        });
        $('#txtPayTimeEnd').datetimepicker({
            language: 'zh',
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            minView: "month",//设置只显示到月份
            format: "yyyy-mm-dd"//日期格式
        }).on('changeDate', function (ev) {
            $(this).datetimepicker('hide');
        });
    });
</script>
<form class="form-inline" method="post" action="/Home_Company/QueryCompanyRecord">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">查询条件</h4>
        </div>
        <div class="panel-body">
            <div class="form-group col-sm-2">
                <label class="control-label" for="selStaffs">消费者</label>
                <select name="StaffId" id="selStaffs" class="selectpicker show-tick form-control" style="width: 130px" data-live-search="true">
                    @if (ViewBag.Staffs != null)
                    {
                        <option value=""></option>
                        foreach (var item in ViewBag.Staffs as List<Model.Staff>)
                        {
                            <option value="@item.Id">@item.StaffName</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group col-sm-3">
                <label class="control-label" for="selPayType">消费类别</label>
                <select name="PayTypeId" id="selPayType" class="selectpicker show-tick form-control" style="width: 200px" data-live-search="true">
                    @if (ViewBag.Paytypes != null)
                    {
                        <option value=""></option>
                        foreach (var item in ViewBag.Paytypes as List<Model.CompanyPayType>)
                        {
                            <option value="@item.Id">@item.PayType</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group col-sm-3">
                <label class="control-label" for="txtPayTimeBegin">消费时间</label>
                <input type="text" readonly class="form-control" style="width: 130px" name="PayTimeBegin" id="txtPayTimeBegin" />
            </div>
            <div class="form-group col-sm-3">
                <label class="control-label" for="txtPayTimeEnd">至</label>
                <input type="text" readonly class="form-control" style="width: 130px" name="PayTimeEnd" id="txtPayTimeEnd" />
            </div>
            <div class="form-group col-sm-3" style="margin-top:15px">
                <input type="submit" value="查询" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">查询结果</h4>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-bordered table-condensed">
            <thead style="background-color:powderblue"><tr><th>序号</th><th>消费者</th><th>消费类别</th><th>金额</th><th>时间</th><th>其他信息</th></tr></thead>
            @{int index = 0;
                foreach (var item in Model)
                {
                    <tr>
                        <td>@index</td>
                        <td>@item.StaffName</td>
                        <td>@item.PayTypeDesc</td>
                        <td>@item.PaySum</td>
                        <td>@item.PayTime</td>
                        <td>@item.Describe</td>
                    </tr>
                    index++;
                }
            }
        </table>
    </div>
</div>

<script src="~/scripts/datetimepicker/bootstrap-datetimepicker.js"></script>
<script src="~/scripts/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
    $(function () {
        var queryPam = '@ViewBag.queryPam';
        if (queryPam != '') {
        }
    });
</script>

